@charset "UTF-8";
/* CSS Document */
*, ul, li {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.8%; }

body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", "Arial", "\5B8B\4F53";
  font-size: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.btn {
  z-index: 999; }
  .btn ul {
    width: 80%;
    margin: 50% auto;
    text-align: center; }
    .btn ul li {
      position: relative;
      margin: 5% 0;
      padding: 4% 0; }
      .btn ul li a {
        color: #fff;
        font-size: 1.5rem;
        opacity: 1; }
      .btn ul li a:link, .btn ul li a:visited, .btn ul li a:hover, .btn ul li a:active {
        -webkit-tap-highlight-color: transparent;
        -webkit-tap-highlight-color: transparent;
        /* For some Androids */ }
      .btn ul li:after {
        z-index: -1;
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-color: #EC7AA7;
        opacity: 0.6; }

.music {
  z-index: 9999;
  position: fixed;
  display: inline-block;
  margin: 1%;
  bottom: 0;
  left: 0;
  width: 23px;
  height: 23px;
  font-size: 0px;
  background: url('../../static/image/icon/units-icons.png') no-repeat center;
  background-size: 100%; }
  .music video {
    display: none; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-wrapper {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px; }

.swiper-slide {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*background-size:100% auto;*/
  background-size: 150% auto;
  overflow: hidden;
  text-align: center;
  line-height: 300px;
  transform-origin: center center;
  -webkit-transform-origin: center center; }

.swiper-slide img {
  max-width: 100%; }

.slide-1 {
  background: url(../../static/image/white/1.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-2 {
  background: url(../../static/image/white/2.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-3 {
  background: url(../../static/image/white/3.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-4 {
  background: url(../../static/image/white/4.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-5 {
  background: url(../../static/image/white/5.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-6 {
  background: url(../../static/image/white/6.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-7 {
  background: url(../../static/image/white/7.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-8 {
  background: url(../../static/image/white/8.jpg) no-repeat center top;
  background-size: 120% auto; }

.slide-9 {
  background: url(../../static/image/white/9.jpg) no-repeat center top;
  background-size: 120% auto; }


.red .slide-1 {
  background: url(../../static/image/red/1.jpg) no-repeat center top;
  background-size: 120% auto; }
.red .slide-2 {
  background: url(../../static/image/red/2.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-3 {
  background: url(../../static/image/red/3.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-4 {
  background: url(../../static/image/red/4.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-5 {
  background: url(../../static/image/red/5.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-6 {
  background: url(../../static/image/red/6.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-7 {
  background: url(../../static/image/red/7.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-8 {
  background: url(../../static/image/red/8.jpg) no-repeat center top;
  background-size: 120% auto; }

.red .slide-9 {
  background: url(../../static/image/red/9.jpg) no-repeat center top;
  background-size: 120% auto; }

.pic {
  position: relative;
  top: 0; }

.info {
  position: relative;
  width: 100%;
  height: 100%;
  top: 7%;
  right: 0;
  line-height: 4rem;
  text-align: right; }
  .info .bg-1 {
    position: absolute;
    margin: 0 auto;
    left: 10%;
    background: rgba(255, 209, 233, 0.8);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    z-index: -2;
    animation: opacity 2s;
    -webkit-animation: opacity 2s;
    /*Safari and Chrome*/ }
  .info h3, .info strong {
    position: relative;
    margin: 5%;
    top: 5%;
    font-size: 3rem;
    font-weight: bolder; }
  .info h3 {
    font-size: 4rem; }
  .info .text {
    position: relative;
    margin: 15% 5% 0 0;
    width: 90%;
    color: #fff;
    font-size: 1.5rem;
    word-wrap: break-word;
    line-height: 1.6rem; }

.link-box {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5%; }
  .link-box .link {
    position: relative;
    display: block;
    color: #fff;
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.3rem; }

.play{

animation:rotate 2s infinite;
-webkit-animation:rotate 2s infinite; /*Safari and Chrome*/
}
@keyframes opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes opacity {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes shake {
  from {
    transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(120deg); }

  to {
    transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(120deg); } }

@-webkit-keyframes shake {
  from {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(120deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(120deg); }

  to {
    transform: rotateX(120deg);
    -webkit-transform: rotateX(120deg);
    /* Safari 和 Chrome */
    -moz-transform: rotateX(120deg); } }

@keyframes slide {
  from {
    right: 0; }

  to {
    right: 50px; } }


@keyframes rotate
{
from {transform:rotate(0deg);
-webkit-transform:rotate(0deg); /* Safari and Chrome */
-moz-transform:rotate(0deg); /* Firefox */}
to {transform:rotate(360deg);
-webkit-transform:rotate(360deg); /* Safari and Chrome */
-moz-transform:rotate(360deg); /* Firefox */}
}

@-webkit-keyframes rotate /*Safari and Chrome*/
{
from {transform:rotate(0deg);
-webkit-transform:rotate(0deg); /* Safari and Chrome */
-moz-transform:rotate(0deg); /* Firefox */}
to {transform:rotate(360deg);
-webkit-transform:rotate(360deg); /* Safari and Chrome */
-moz-transform:rotate(360deg); /* Firefox */}
}